h1, .h1 {
    font-size: 1.5rem;
}

/*
footer::before {
    content: "";
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    display: block;
    height: 18px;
    width: 100%;
    background: url('img/ukr-border-s.png') 0 0 repeat-x;
}
*/
.ua-border {
    background: url('img/ukr-border-s.png') 0 0 repeat-x;
}

.text-brand {
    color: #ec233e;
}

.w-6 {
    width: 1.5rem;
}
.h-6 {
    height: 1.5rem;
}
.w-8 {
    width: 2rem;
}
.h-8 {
    height: 2rem;
}

.logo {
    width: 100%;
    height: auto;
}


.expanded-block {
    height: 20vh;
    overflow-y: hidden;
    position: relative;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}


